.place_bet_btn {
    width: 90%;
    height: 50px;

    border: none;
    background-color: #31285d;
    color: white;
    font-weight: bolder;
    font-size: 18px;

    cursor: pointer;

    transition: background-color .1s ease-in-out;

    &:hover {
        background-color: #43387c;
    }
}