.timer {

    .timer_header {
        margin-top: 0px;
        margin-bottom: 0px;

        color: #c55d5d;
    }

    .timer_time {
        font-size: 100px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bolder;

        color: #c55d5d;
    }
}